{%- assign section_color = section.settings.color_combination -%}
{%- include 'global-variables' -%}



<footer class="{{ global__section_with_padding_class }} color--{{ section_color }}-text bg--{{ section_color }}-background">

    <div class="footer-grid">

      <div class="footer-copyright">
        <p>&copy; {{ 'now' | date: "%Y" }} <a href="/" class=" color--{{ section_color }}-text">{{ shop.name }}</a> <button class="termlybutton" onclick="displayPreferenceModal()">manage cookie preferences</button></p>
      </div>

      <div class="footer-social">
        {%- assign social_accounts = 'Facebook, Twitter, Pinterest, Instagram, Snapchat, Tumblr, YouTube, Vimeo,' | split: ', ' -%}
        <ul class="list--reset p0 m0 mxn1">
          {% for social in social_accounts %}
            {%- assign social_handle = social | handleize -%}
            {% capture social_link %}social_{{ social_handle }}_link{% endcapture %}
            {% capture social_icon %}icon-{{ social_handle }}{% endcapture %}

            {% if settings[social_link] != blank %}
              <li class="inline-block">
                <a class="color--{{ section_color }}-text px1 mb1 block" href="{{ settings[social_link] }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: social }}">
                  {% include social_icon %}
                  <span class="icon-fallback-text">{{ social }}</span>
                </a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>

  </div>
</footer>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
      {
        "type": "checkbox",
        "id": "show_payment_icons",
        "label": "Show payment icons",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_theme_credit",
        "label": "Show theme credit",
        "default": true
      },
      {
        "type":      "header",
        "content":   "Color"
      },
      {
         "type": "select",
         "id": "color_combination",
         "label": "Combination",
         "options": [
            { "value": "primary", "label": "Primary"},
            { "value": "secondary ", "label": "Secondary"},
            { "value": "tertiary", "label": "Tertiary"}
         ]
      }
    ],
    "blocks": [
      {
        "type": "menus",
        "name": "Menus",
        "limit": 1,
        "settings": [
          {
            "type": "link_list",
            "id": "main_linklist",
            "label": "Menu",
            "default": "footer",
            "info": "This menu won't show dropdown items"
          },
          {
            "type": "link_list",
            "id": "secondary_linklist",
            "label": "Secondary Menu",
            "info": "This menu won't show dropdown items"
          }
        ]
      },
      {
        "type": "richtext",
        "name": "Rich text",
        "limit": 1,
        "settings": [
          {
            "id": "text",
            "type": "richtext",
            "label": "Text",
            "default": "<p>Use this to add additional information about your store, e.g. address / contact details.</p>"
          }
        ]
      },
      {
        "type": "newsletter",
        "name": "Newsletter",
        "limit": 1,
        "settings": [
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Receive special offers and first look at new products.</p>"
          }
        ]
      }
    ]
  }

{% endschema %}
